/* App.css */
.container {
  display: flex;
  height: 100vh; /* Opcional: ajusta la altura como necesites */
}

.sidebar {
  width: 200px; /* Ancho del sidebar */
  background-color: #f0f0f0;
  padding: 20px;
}

.content {
  flex: 1; /* El contenido ocupa el resto del espacio disponible */
  padding: 20px;
}

.sidebar h1 {
  font-size: 1.5rem; /* Tamaño de fuente del título */
}

.sidebar a {
  display: block;
  margin-bottom: 10px;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
}

.sidebar a:hover {
  color: #007bff; /* Color al pasar el mouse */
}

.content p.read-the-docs {
  font-size: 0.9rem;
  color: #666;
}

