/* App.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;

  display: flex;
  flex-direction: column; /* Asegura que el contenido se extienda verticalmente */
}


.sidebar {
  flex: 0 0 200px; /* Ancho fijo de la barra lateral */
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  color: #fff;
  padding: 14px 20px; /* Aumentamos el padding para botones más grandes */
  margin-bottom: 10px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #0056b3;
}

.content {
  flex: 1; /* Toma todo el espacio restante */
  padding: 20px;
  font-size: 18px; /* Aumentamos el tamaño de fuente del contenido */
  line-height: 1.6; /* Ajustamos el interlineado */
  overflow-y: auto; /* Añadido para permitir desplazamiento vertical si es necesario */
}

h1 {
  color: #333;
  font-size: 24px; /* Aumentamos el tamaño de fuente del título */
  margin-bottom: 20px; /* Añadimos un margen inferior */
}

.read-the-docs {
  font-style: italic;
  color: #666;
}
